.l-heading {
    text-align: center;
}

/*---------------------------------------------------------
Navbar
---------------------------------------------------------*/
#navbar .logo {
    padding: 1rem;
    float: none;
    text-align: center;
}

#navbar ul,
#navbar ul li {
    float: none;
}

#navbar ul li a {
    padding: 0.2rem;
    border-bottom: 1px dotted #444 ;
}

/*---------------------------------------------------------
Showcase
---------------------------------------------------------*/
#showcase {
    height: 100%;
}

#showcase .showcase-content {
    padding-top: 4rem;
}

#showcase h1 {
    font-size: 3.5rem;
}

/*---------------------------------------------------------
Home Info
---------------------------------------------------------*/
#home-info .info-img {
    display: none;
}

#home-info .info-content {
    float: none;
    width: 100%;
}

#showcase .showcase-content {
    padding-bottom: 3rem;
}

/*---------------------------------------------------------
Features
---------------------------------------------------------*/
.box {
    float:none;
    width: 100%;
}

/*---------------------------------------------------------
About Info
---------------------------------------------------------*/
#about-info .info-right,
#about-info .info-left {
    float: none;
    width: 100%;
}

#about-info .info-right {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#about-info .info-left h1 {
    font-size: 2rem;
}

/*---------------------------------------------------------
Testimonials
---------------------------------------------------------*/
#testimonials {
    height: 100%;
}

/*---------------------------------------------------------
Contact Form
---------------------------------------------------------*/
#contact-info .box {
    border-bottom: 1px dotted #999;
}

.center {
    text-align: center;
}