/*---------------------------------------------------------
Reset
---------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------------------------------------------------
Main Styling
---------------------------------------------------------*/
html, body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    color: #fff;
}

p {
    color: #fff;
}

/*---------------------------------------------------------
Utility Classes
---------------------------------------------------------*/
.text-primary {
    color: #f7c08a;
}

/*---------------------------------------------------------
Content
---------------------------------------------------------*/
#container {
    background: url('../img/bg.jpg') no-repeat center center/cover;
    height: 55rem;
}

#title {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#content {
    display: flex;
    flex-direction: column;
}

.record {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    justify-content: center;
    
}

.one {
    order: 1;
}

.two {
    order: 2;
}

.three {
    order: 3;
}

.four {
    order: 4;
}

.image-left img {
    width: 5rem;
    border-radius: 50%;
}

/* .image-left {
    background: #444;
} */

.score-right {
    padding-left: 2rem;

}